
&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>;
    status = "okay";    scd4x: scd4x@62 {
        status = "okay";
        compatible = "sensirion,scd41";
        mode = <0>;
        reg = <0x62>;
    };
    sht4x: sht4x@44 {
        status = "okay";
        compatible = "sensirion,sht4x";
        reg = <0x44>;
        repeatability = <2>;
    };


};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
            low-power-enable;
        };
    };

};


/{
    CUSTOM_PINS_PCB {
        compatible = "gpio-keys";
        green_led: green_led{
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;   /*GPIO PIN P0.11 */
            label = "Green Led";
        };
        blue_led: blue_led{
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;   /*GPIO PIN P0.12 */
            label = "Blue Led";
        };
        red_led: red_led{
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;   /*GPIO PIN P0.13 */
            label = "Red Led";
        };
    };
};



&uart0 {
    status = "disabled";
};

&uart1 {
    status = "disabled";
};

&spi3 {
    status = "disabled";
};

&i2c2 {
    status = "disabled";
};

&adc {
    status = "disabled";
};

&pwm0 {
    status = "disabled";
};

&button0 {
    status = "disabled";
};
&button1 {
    status = "disabled";
};
&button2 {
    status = "disabled";
};
&button3 {
    status = "disabled";
};
&led0 {
    status = "disabled";
};

&led1 {
    status = "disabled";
};

&led2 {
    status = "disabled";
};

&led3 {
    status = "disabled";
};
