
#include <dt-bindings/regulator/npm1300.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zephyr,display = &ssd16xx_waveshare_epaper_gdey0213b74;
		 zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,uart-mcumgr = &uart0;
    };
    mipi_dbi_waveshare_epaper_gdey0213b74 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi1>;
		dc-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;	/* DC Pin*/
		reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;	/* Reset Pin */
		#address-cells = <1>;
		#size-cells = <0>;

		ssd16xx_waveshare_epaper_gdey0213b74: ssd16xxfb@0 {
			compatible = "gooddisplay,gdey0213b74", "solomon,ssd1680";  // waveshare_epaper_gdey0213b74, for FC-A002.
            // compatible = "gooddisplay,gdeh0213b72" , "solomon,ssd1675a"; //SSD1675A / ssd16xx waveshare_epaper_gdeh0213b72
			// compatible = "gooddisplay,gdeh0213b1","solomon,ssd1673";   // waveshare_epaper_gdeh0213b1
			

			mipi-max-frequency = <4000000>;
			reg = <0>;
			width = <250>;
			height = <122>;
			busy-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;	/* BUSY Pin */
            rotation=<0>;
			tssv = <0x80>;

			full {
				border-waveform = <0x05>;
			};

			partial {
				border-waveform = <0x3c>;
			};
		};
	};
};
&spi1 {
	status = "okay";
	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;	/* CS Pin */
    pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
    
};


&i2c2 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>;
    scd4x: scd4x@62 {
        status = "okay";
        compatible = "sensirion,scd40";
        // mode = <0>;
        reg = <0x62>;
    };
    sht4x: sht4x@44 {
        status = "okay";
        compatible = "sensirion,sht4x";
        reg = <0x44>;
        repeatability = <2>;
    };
   npm1300_ek_pmic: pmic@6b {
       compatible = "nordic,npm1300";
       reg = <0x6b>;
       host-int-gpios = <&gpio0 5 0>;
	   pmic-int-pin = <3>;
       npm1300_ek_gpio: gpio-controller {
           compatible = "nordic,npm1300-gpio";
           gpio-controller;
           #gpio-cells = <2>;
           ngpios = <5>;
       };

       npm1300_ek_regulators: regulators {
           compatible = "nordic,npm1300-regulator";
    
npm1300_ek_buck1: BUCK1 {
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <3300000>;
    
    retention-microvolt = <1200000>;   
};
npm1300_ek_buck2: BUCK2 {
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <3300000>;
    
    retention-microvolt = <1800000>;  
};
npm1300_ek_ldo1: LDO1 {
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <3300000>;
    
    regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;    
};
npm1300_ek_ldo2: LDO2 {
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <3300000>;
    
    regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;
    
    regulator-boot-on;
};
       };  
npm1300_ek_charger: charger {
    compatible = "nordic,npm1300-charger";
    term-microvolt = <4000000>;
    term-warm-microvolt = <3600000>;
    // term-current-percent = <10>;
    current-microamp = <32000>;
    // trickle-microvolt = <2900000>;
    dischg-limit-microamp = <200000>;
    vbus-limit-microamp = <500000>;
    thermistor-ohms = <10000>;
    thermistor-beta = <3380>;
    
    charging-enable;  
};      
npm1300_ek_leds: leds {
    compatible = "nordic,npm1300-led";
    nordic,led0-mode = "charging";    
nordic,led1-mode = "error";    
nordic,led2-mode = "host";
};

   };
};


&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
            low-power-enable;
        };
    };

    spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK,  0, 14)>,
					<NRF_PSEL(SPIM_MOSI, 0, 13)>;
                    // <NRF_PSEL(SPIM_MISO, 0, 24)>;//not required.
					
		};
	};
	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0,  14)>,
					<NRF_PSEL(SPIM_MOSI, 0, 13)>;
                    // <NRF_PSEL(SPIM_MISO, 0, 24)>;//not required.
					
			low-power-enable;
		};
	};

    uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 29)>,
				<NRF_PSEL(UART_RTS, 0, 14)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 30)>,
				<NRF_PSEL(UART_CTS, 0, 15)>;
			bias-pull-up;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 29)>,
				<NRF_PSEL(UART_RX, 0, 30)>,
				<NRF_PSEL(UART_RTS, 0, 14)>,
				<NRF_PSEL(UART_CTS, 0, 15)>;
			low-power-enable;
		};
	};

};


/{
    CUSTOM_PINS_PCB {
        compatible = "gpio-keys";
        green_led: green_led{
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;   /*GPIO PIN P0.11 */
            label = "Green Led";
        };
        blue_led: blue_led{
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;   /*GPIO PIN P0.12 */
            label = "Blue Led";
        };
        red_led: red_led{
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;   /*GPIO PIN P0.13 */
            label = "Red Led";
        };
    };
};


&uart0 {
	status = "okay";
    hw-flow-control;
	current-speed = <9600>;
    label = "UART0";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};


&uart1 {
    status = "disabled";
};

&spi3 {
    status="disabled";
};


&button2 {
    status="disabled";
};

